#header {
	height: 78px;
	position: relative;
	z-index: 99;
	&>.wr {
		@extend %wr;
		width: 100%;
		height: 100%;
	}
	.header-menu_wrapper {
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: space-between;
		.logo {
			@media (max-width: 320px) {
				font-size: 32px;
				height: 42px;
				line-height: 36px
			}
			color: #3e3e3e;
			font-family: $Arvo;
			font-size: 40px;
			height: 49px;
			line-height: 52px;
			font-weight: 400;
			display: block;
			position: relative;
			&:before {
				@media (max-width: 320px) {
					bottom: 8px;
					left: 5px;
					width: 14px;
					height: 3px;
				}
				content: '';
				display: block;
				position: absolute;
				bottom: 3px;
				left: 7px;
				width: 14px;
				height: 4px;
				background: $base-color;
			}
		}
		.header-menu_container {
			display: flex;
			align-items: center;
			@media (max-width: 768px) {
				flex-direction: column-reverse;
			}
			nav {
				display: none;
				@media (max-width: 768px) {
					flex-direction: column;
				}
				a {
					font-family: $Roboto;
					font-size: 17px;
					font-weight: 700;
					color: #3e3e3e;
					padding: 6px 22px;
					line-height: 33px;
					&.menu-link_active,
					&:hover{
						line-height: 33px;
						background-color: #3e3e3e;
						border-radius: 10px;
						color: $white;
						padding: 6px 22px;
					}
				}
			}
			&.header-menu_active{
				nav {
					display: flex;
					@media (max-width: 768px) {
						position: absolute;
						top: 70px;
						left: 0;
						right: 0;
						margin: 0 auto;
						text-align: center;
						background: rgba(255,255,255,0.9);
						border-radius: 10px;
					}
				    a {
						@media (max-width: 768px) {
							padding: 0;
							min-height: 50px;
							display: flex;
							align-items: center;
							justify-content: center;
						}
				    }
				}
			}
			.menu-btn {
				display: inline-block;
				vertical-align: middle;
				width: 36px;
				height: 30px;
				position: relative;
				margin-left: 40px;
				&:before {
					content: "+";
					display: block;
					position: absolute;
					bottom: -2px;
					left: 50%;
					margin-left: -9px;
					color: #e0e0e0;
					z-index: 1;
					font-size: 16px;
					text-align: center;
					font-weight: bold;
					width: 19px;
					height: 19px;
					border-radius: 50%;
					background-color: #3e3e3e;
					box-shadow: 1.2px 1.6px 9px rgba(1, 1, 1, 0.6);
				}
				span,
				span:before,
				span:after {
					content: '';
					position: absolute;
					top: 50%;
					margin-top: -8px;
					left: 0;
					width: 36px;
					height: 6px;
					background-color: #3d3d3d;
					display: block;
					transition: 0.2s;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					border-radius: 2px;
				}
				span::before {
					transform: translateY(-7px);
				}
				span::after {
					transform: translateY(17px);
				}
			}
			.menu-btn_active {
				&:before {
					content: "−";
				}
			}
		}
	}
}